<app-navbar></app-navbar>

<div class="h-[70vh] flex justify-center items-center">
  <form #registerUserForm="ngForm" (ngSubmit)="registerUser(registerUserForm.value)" class="w-[20vw] max-w-sm mx-auto">

    <div ngModelGroup="user">
      <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
        <input type="text" #username="ngModel" required ngModel name="username"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@flowbite.com" />
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
          <div *ngIf="username.hasError('required')" class="text-red-600 text-sm mt-2">
            Username is required
          </div>
          <div *ngIf="username.hasError('username')" class="text-red-600 text-sm mt-2">
            Username is invalid
          </div>
        </div>
      </div>
      <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
        <input type="email" #email="ngModel" required email ngModel name="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@flowbite.com" />
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.hasError('required')" class="text-red-600 text-sm mt-2">
            Email is required
          </div>
          <div *ngIf="email.hasError('email')" class="text-red-600 text-sm mt-2">
            Email is invalid
          </div>
        </div>
      </div>
      <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
        <input type="password" minlength="8" #password="ngModel" ngModel name="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        <div *ngIf="password.invalid && (password.touched || password.dirty)">
          <div *ngIf="password.hasError('minlength')" class="text-red-600 text-sm mt-2">
            Password must be atleast 8 characters
          </div>
        </div>
      </div>
    </div>

    <button type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create
      Account</button>

    <p routerLink="/login" class="mt-4 cursor-pointer">Already have an account? <span
        class="text-blue-600 text-sm">Login</span></p>
  </form>
</div>