<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>Welcome to MedAssist, <%=UserName%></th>
            <tr>
                <td>
                    <p>Hi, <%=UserName%></p>
                    <p><img src="https://cdn.pixabay.com/photo/2016/10/28/09/24/integration-1777536_640.jpg"></p>
                    <p>
                        Thank you for signing up. <br>
                        Enjoy our services with the medassist App. We appreciate your wise decision to be part of us. <br>

                        Welcome onboard
                    </p>
                </td>
            </tr>
        </tr>
    </table>
</body>
</html>