<app-navbar></app-navbar>

<div class="posts flex items-center flex-col gap-4 bg-blue-100" *ngIf="posts.length > 0">
    <div class="post p-4 bg-blue-200" *ngFor="let post of posts; let i = index;">
        <div (click)="navigateToPost(i)">
            <p class="w-[400px]">{{post.authorName}}</p>
            <p class="w-[400px] my-2" [ngClass]="post.images ? 'font-normal' : 'font-bold'">{{post.content}}</p>
        <!-- <div *ngIf="post.images">
            <img  src="{{post.images[0]}}" alt="" width="200px">
        </div> -->

            @if(post.images){
                <img class="" src="{{post.images[0]}}" alt="" width="400px">
            }
        </div>
    </div>
</div>

<router-outlet></router-outlet>
