<div class="flex justify-end fixed right-10">
    <input type="search" [(ngModel)]="searchString" placeholder="Search post">
</div>
<div [ngClass]="add_post ? 'opacity-50' : 'opacity-100'" class="w-[50vw] mt-[50px] posts flex items-center flex-col" *ngIf="posts.length > 0">
    <div class="post w-[50vw] p-4 px-8 bg-gray-50" *ngFor="let post of posts | search: searchString; let i = index;">
        <div class="hover:bg-gray-200 p-2">
            <div>
                <p class=" font-bold">{{post.authorName}} </p>
                <span>{{post.createdAt | date:'shortTime'}}</span>
            </div>
            <p (click)="navigateToPost(i)" class="cursor-pointer  my-2 mb-8"
                [ngClass]="post.images ? 'font-normal' : 'font-bold'">{{post.content | sentencecase}}</p>
            <!-- <div *ngIf="post.images">
                <img  src="{{post.images[0]}}" alt="" width="200px">
            </div> -->

            @if(post.images){
                <div (click)="navigateToPost(i)" class="cursor-pointer flex flex-wrap gap-2">
                    <img class="" *ngFor="let image of post.images" src="{{image}}" alt="" width="300px">
                </div>
            }

            <br>
            <div class="flex justify-between px-2 text-[20px]">
                <span><i (click)="getPostIndex(i)" class="fa-solid fa-comments hover:text-blue-600 cursor-pointer"></i> <span class="text-sm ml-2">{{post.commentsCount}}</span></span>
                
                <i class="fa-solid fa-retweet hover:text-blue-600 cursor-pointer"></i>
                <i class="fa-regular fa-heart hover:text-red-600 cursor-pointer"></i>
                <i class="fa-solid fa-chart-simple hover:text-blue-600 cursor-pointer"></i>
            </div>
            <br>
            <hr>
        </div>
    </div>
</div>

<ng-container *ngIf="posts.length < 1">
    <div class="w-[80vw] h-[90vh] flex justify-center items-center font-semibold">
        No haven't posted anything yet. Post or retweet to see your activity here
    </div>
</ng-container>

<!--modal to comment on a most -->
<div id="popup-modal" tabindex="-1"
[ngClass]="add_post ? 'flex' : 'hidden'"
    class="overflow-y-auto items-start fixed top-0  z-50 justify-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" (click)="add_post = !add_post" 
                class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="popup-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 md:p-5 text-center">
                
                <div *ngIf="fetched_post" class="text-left flex mb-5 mt-8 font-normal text-gray-700 dark:text-gray-500">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" class="w-[40px] h-[40px] rounded-full">
                    <div class="ml-4">
                        <h3 class="font-bold">{{fetched_post.authorName}}</h3>
                        <div class="text-sm">{{fetched_post.content}}</div>

                        <div class="mt-4">Replying to <span class="text-blue-500">{{fetched_post.authorName}}</span></div>
                    </div>
                </div>
                <form #addComment="ngForm" (ngSubmit)="comment(addComment.value)">
                    <textarea ngModel name="comment" placeholder="Post your comment" class="w-[80%] ml-[20px] border-none"></textarea>
                
                <div class="flex justify-end">
                    <button data-modal-hide="popup-modal" type="submit"
                        class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                        Reply
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end of modal -->

<router-outlet></router-outlet>