<div class="w-[45vw] posts flex items-center flex-col" *ngIf="posts.length > 0">
    <div class="post p-4 px-8 bg-gray-50" *ngFor="let post of posts; let i = index;">
        <div  (click)="navigateToPost(i)">
            <p class="w-[40vw] font-bold">{{post.id}}</p>
            <p class="w-[40vw] my-2 mb-8" [ngClass]="post.images ? 'font-normal' : 'font-bold'">{{post.content}}</p>
        <!-- <div *ngIf="post.images">
            <img  src="{{post.images[0]}}" alt="" width="200px">
        </div> -->

            @if(post.images){
                <div class="flex gap-2" >
                    <img class="" *ngFor="let image of post.images" src="{{image}}" alt="" width="300px">
                </div>
            }
            <br><br>
            <hr>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
